%span.home-message
%br/

= react_component('PostsShow', (render partial: 'show', formats: [:json]))

%pre
  %code
    :preserve
    :escaped

      // app/views/posts/show.html.haml
      = react_component('PostsShow', (render partial: 'show', formats: [:json]))

      // app/views/posts/_show.json.jbuilder
      json.id @post.id
      json.title @post.title
      json.content @post.content
      json.new_comment_url url_for([@post, :comments])

      // app/assets/components/posts/show.es6.jsx
      class PostsShow extends React.Component {<br/>  constructor(props){<br/>    super(props);<br/>    var { post } = props;<br/>    console.log(post);<br/><br/>    this.state = { post: post, comments: post.comments }<br/>  }<br/><br/>  render() {<br/>    let {post, comments} = this.state;<br/>    let commentsToDisplay = comments.map((comment) =&gt; {<br/>      return this.renderComment(comment)<br/>    });<br/><br/><br/>    return (<br/>      &lt;div&gt;<br/>        &lt;h1&gt;{post.title}&lt;/h1&gt;<br/>        &lt;well&gt;<br/>          {post.content}<br/>        &lt;/well&gt;<br/>        &lt;br/&gt;<br/>        &lt;br/&gt;<br/>        &lt;h3&gt;Comments: &lt;/h3&gt;&lt;br/&gt;<br/>        &lt;ul&gt;{commentsToDisplay}&lt;/ul&gt;<br/>      &lt;/div&gt;<br/>    );<br/>  }<br/><br/>  renderComment(comment) {<br/>    return (<br/>      &lt;li&gt;<br/>        {comment.user_name} - {comment.content}<br/>      &lt;/li&gt;<br/>    )<br/>  }<br/>}<br/>
